<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout - Inventari</title>
    <link rel="stylesheet" href="./css/layout.css"
</head>
<body>
    <body>

      <header id="hdr">HEADER</header>

      <article id="art">

        <div class="art__esquema">ESQUEMA</div>
        <div class="art__pisos">PISOS</div>
        <div class="art__gestio">GESTIÓ</div>

      </article>


      <footer id="foot">FOOTER</footer>

    
    </body>
    </html>
    
</body>
</html>