<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout - Seguretat</title>
    <link rel="stylesheet" href="./css/layout.css"
</head>
<body>
    <body>

      <header id="hdr">HEADER</header>

      <article id="art">

        <div class="art__titol">TÍTOL</div>
        <div class="art__usuaris">USUARIS</div>
        <div class="art__rols">ROLS</div>
        <div class="art__permisos">PERMISOS</div>

      </article>


      <footer id="foot">FOOTER</footer>

    
    </body>
    </html>
    
</body>
</html>