<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout - Comandes</title>
    <link rel="stylesheet" href="./css/layout.css"
</head>
<body>
    <body>

      <header id="hdr">HEADER</header>

      <article id="art">

        <div class="art__label">LABELS</div>

      </article>

      <article id="art2">

        <div class="art2__botons">BOTONERA</div>
        <div class="art2__totes">TOTES LES COMANDES</div>
        
      </article>

      <article id="art3">

        <div class="art3__registre">REGISTRE D'INCIDÈNCIES</div>

      </article>


      <footer id="foot">FOOTER</footer>

    
    </body>
    </html>
    
</body>
</html>