<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout - Pàgina Inici</title>
    <link rel="stylesheet" href="./css/layout.css"
</head>
<body>
    <body>

      <header id="hdr">HEADER</header>


      <article id="art">

        <div class="art__foto">FOTOS</div>
        <div class="art__boto">BOTO</div>

      </article>

      <article id="art2">

        <div class="art2__foto2">FOTO</div>
        <div class="art2__desc">DESC</div>
        <div class="art2__desc2">DESC</div>
        <div class="art2__foto3">FOTO</div>

      </article>



      <footer id="foot">FOOTER</footer>

    
    </body>
    </html>
    
</body>
</html>