/* TOT */

* {
    box-sizing: border-box;
    margin: 0 auto;
  }
  
body {
    font-family: Arial;
    background: #F23F6B;
}
  
  
  /* HEADER */
  
#hdr{
  width: 100%;
  height: 9vw;      
  background: #0083ff;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
  /* box-shadow: 2px 2px 35px #888888; */
}

 
/* ARTICLE */

#art{
  width: 100%;
  height: 41vw;
  text-align: center;
  background-color: #ffffff;
  float: left;
}

.art__botons{
  width: 20%;
  height: 2vw;
  margin-top: 4%;
  margin-left: 4%;
  background-color: #00ADFF;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

.art__noFetes{
    width: 20%;
    height: 27vw;
    margin-top: 4%;
    margin-left: 4%;
    background-color: #00ADFF;
    float: left;
    clear: left;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 1vw;
    color: white;
}

.art__proces{
    width: 20%;
    height: 27vw;
    margin-top: 4%;
    margin-left: 4%;
    background-color: #00ADFF;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 1vw;
    color: white;
}

.art__fet{
    width: 20%;
    height: 27vw;
    margin-top: 4%;
    margin-left: 4%;
    background-color: #00ADFF;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 1vw;
    color: white;
}

.art__filtrar{
    width: 20%;
    height: 27vw;
    margin-top: 4%;
    margin-left: 4%;
    background-color: #00ADFF;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 1vw;
    color: white;
}

  /* FOOTER */
  
#foot{
  width: 100%;
  height: 7vw;
  text-align: center;
  background-color: #424656;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}
  