<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="../css/projecto.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header id="capçalera">
        <img class="capçalera__logo" src="../fotos/JS6.png"/>
        <img class="capçalera__fotoPerfil" src="../fotos/exempleperfil.jpg"/>
        <img class="capçalera__tema" src="../fotos/dark.png"/>
        <img class="capçalera__missatgeria" src="../fotos/missatge.png"/>
        <h2 class="capçalera__nom">Nom Usuari Lorem</h2>
    </header>

    <div class="formulari">
        <div class="formulari__panell">
            <div class="formulari__capcalera">
                <h1>Editar perfil</h1>
            </div>
            <div class="formulari__contingut">
                <form>
                    <div class="formulari__grup"><label for="username"><img class="foto__perfil" src="../fotos/external-content.duckduckgo.com.png"></label></div>
                    <div class="formulari__grup"><label for="username">Usuari</label><input type="text" id="nom" name="nom" required="required" /></div>
                    <div class="formulari__grup"><label for="password">Correu electrònic</label><input type="text" id="email" name="email" required="required" /></div>
                    <div class="formulari__grup"><label for="password">Contrasenya</label><input type="password" id="contrasenya" name="contrasenya" required="required" /></div><br>
                    <div class="formulari__grup"><button type="submit">Editar</button></div>
                </form>
            </div>
        </div>
    </div>

    <footer id="foot"></footer>
</body>
</html>