<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout - Tasques</title>
    <link rel="stylesheet" href="./css/layout.css"
</head>
<body>
    <body>

      <header id="hdr">HEADER</header>

      <article id="art">

        <div class="art__botons">BOTONERA</div>
        <div class="art__noFetes">NO FETES</div>
        <div class="art__proces">EN PROCÉS</div>
        <div class="art__fet">FET</div>
        <div class="art__filtrar">FILTRAR</div>

      </article>


      <footer id="foot">FOOTER</footer>

    
    </body>
    </html>
    
</body>
</html>