<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout - Contrasenya</title>
    <link rel="stylesheet" href="./css/layout.css"
</head>
<body>
    <body>

      <header id="hdr">
        
        <div class="hdr__logo">LOGO</div>
        
      </header>


      <article id="art">

        <div class="art__titol">TÍTOL</div>
        <div class="art__form">FORMULARI</div>

      </article>

    
    </body>
    </html>
    
</body>
</html>