/* TOT */

* {
    box-sizing: border-box;
    margin: 0 auto;
  }
  
body {
    font-family: Arial;
    background: #F23F6B;
}
  
  
  /* HEADER */
  
#hdr{
  width: 100%;
  height: 9vw;      
  background: #0083ff;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
  /* box-shadow: 2px 2px 35px #888888; */
}

 
/* ARTICLE */

#art{
  width: 40%;
  height: 41vw;
  text-align: center;
  background-color: #ffffff;
  float: left;
}

.art__label{
    width: 100%;
    height: 41vw;
    background-color: #00ADFF;
    float: left;

    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 1vw;
    color: white;
}

/* ARTICLE 2*/

#art2{
  width: 30%;
  height: 41vw;
  text-align: center;
  background-color: #00268A;
  float: left;
}

.art2__botons{
  width: 100%;
  height: 10vw;
  background-color: #00268A;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

.art2__totes{
  width: 100%;
  height: 35vw;
  background-color: #B3003D;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}



/* ARTICLE 3*/

#art3{
  width: 30%;
  height: 41vw;
  text-align: center;
  background-color: #ffffff;
  float: right;
}

.art3__registre{
  width: 100%;
  height: 41vw;
  background-color: #F23F6B;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

  /* FOOTER */
  
#foot{
  width: 100%;
  height: 7vw;
  text-align: center;
  background-color: #424656;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}
  