<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout - Pàgina Inici</title>
    <link rel="stylesheet" href="./css/layout.css"
</head>
<body>
    <body>

      <header id="hdr">HEADER</header>

      <aside id="as1">

        <div class="as1__busqueda">CERCAR</div>
        <div class="as1__botonera1">APPS RECENTS</div>
        <div class="as1__botonera2">APPS DESTACADES</div>
        
      </aside>

      <article id="art">

        <div class="art__apps">APPS</div>

      </article>


      <aside id="as2">

        <div class="as2__titol">TÍTOL</div>
        <div class="as2__cercar">CERCAR</div>
        <div class="as2__missatges">MISSATGES GUARDATS</div>
        <div class="as2__chats">CHATS</div>
        <div class="as2__grups">GRUPS</div>
        <div class="as2__contactes">CONTACTES</div>
        
      </aside>


      <footer id="foot">FOOTER</footer>

    
    </body>
    </html>
    
</body>
</html>