h3{
  text-align: center;
}

.perfil{
  margin: 0 auto;
  width: 252px;
  border: 1px solid black;
}

.perfil img{
  transition: opacity 2s ease-in-out;
}

.perfil img.bottom{
  position: absolute;
  filter: contrast(150%);
}

.perfil img.top{
  filter: grayscale(100%);
}



.perfil img.top:hover {
  opacity:0;
}

.perfil:after{
  content:'Programador';
}
.perfil:hover:after{
  content:'Programador professional';
}
