@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

/* *{
} */

body{
    background: #0083ff;
}

.meet{
    font-size: 45px;
    font-family: 'Mochiy Pop P One', sans-serif;
    line-height: 50px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.all{
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    background: #0083ff;

}

.JMM{
    width: 100%;
    position: absolute;
    filter: grayscale(100%);

}

.NFT{
    width: 100%;
    position: absolute;
    opacity: 0;
    filter:contrast(150%);

}

.card:hover .JMM{
    cursor: default;
    transform: rotate(1080deg);
    transition: all 3s ease-in-out 0s;

}

.card:hover .NFT{
    cursor: default;
    transform: rotate(1080deg);
    transition: all 3s ease-in-out 0s;
    opacity: 1;

}

.card-text{
    font-family: 'Mochiy Pop P One', sans-serif;
    position: relative;

}

.card:after{
    content: "Dissenyador Web";
    font-family: 'Mochiy Pop P One', sans-serif;

}

.card:hover:after{
    content: "NFT";
    font-family: 'Mochiy Pop P One', sans-serif;
}