@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    font-family: 'Josefin-Sans', sans-serif;
}

body {
	line-height: 1.5;
}

.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    overflow: hidden;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 2;
}

.btn {
	margin-top: 25px;
	opacity: 0.7;
}

.about {
	padding: 40px;
	text-align: center;
}

.about p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

.social a {
    margin: 0 5px;
    color: white;
}

footer{
    padding: 2%;
    background-color: #3a4052;
    text-align: center;
    color: white;
}

footer h2 {
	margin: 20px 0;
	color: white;
}

.about-map{
	height: 25vw; 
}