@font-face{
  font-family: "JSuiteFont-Title";
  src: url('../tipografia/Nexa-Trial-Heavy.ttf')
}

@font-face{
  font-family: "JSuiteFont-Subtitle";
  src: url('../tipografia/Nexa-Trial-Bold.ttf')
}

@font-face{
  font-family: "JSuiteFont-";
  src: url('../tipografia/')
}

html {
    width: 100%;
    height: 100%;
}

body {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1.6em;
  background-color: #0083ff;

}

/* HEADER */

#capรงalera{
  width: 100%;
  height: 7vw;      
  background: white;
  float: left;
  font-weight: bold;
  font-size: 1vw;
  /* box-shadow: 2px 2px 35px #888888; */
}


.formulari {
  background: white;
  width: 600px;
  border-radius: 9px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 3%;
  font-family: "JSuiteFont-Subtitle";
  margin-left: 33%;
}

.formulari__grup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px;
}

.formulari__grup label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.formulari__grup input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  border-radius: 6px;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Arial;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
}

.formulari__grup input {
  color: #000000;
}

.formulari__grup input:focus {
  color: #0083ff;
}

.formulari__grup button {
  outline: none;
  background: #424656;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.formulari__grup button {
  background: #424656;
  color: #ffffff;
}

.formulari__grup .formulari__recordar {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}

.formulari__grup .formulari__recordar input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 0;
}

.formulari__grup .formulari__recuperar {
  color: #4285F4;
  font-size: 12px;
  text-decoration: none;
}

.formulari__panell {
  padding: 60px calc(4% + 60px) 60px;
  box-sizing: border-box;
}

.formulari__capcalera {
  margin: 0 0 40px;
}

.formulari__capcalera h1 {
  padding: 4px;
  color: #4285F4;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.foto__perfil{
  height: 100px;
  margin: 0 150px;
}

.logo{

  width: 58%;
  margin-top: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table{
    width: 40%;
}

tr ,th ,td ,table{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color: #0083ff;
    color: white;
}

li{
    list-style: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
}