/* ----------Tot---------- */

* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: Arial;
  background: #F23F6B;
}


/* ----------Capçalera---------- */

#capçalera{
  width: 100%;
  height: 7vw;      
  background: white;
  float: left;
  font-weight: bold;
  font-size: 1vw;
  background: linear-gradient(to bottom right, #00268A, #0083FF);
  /* box-shadow: 2px 2px 35px #888888; */
}


/* ----------ASIDE 1---------- */
  
#as1{
  width: 20%;
  height: 41vw;
  background-color: #B3003D;
  float: left;
}

.as1__cerca{
  width: 100%;
  height: 4vw;
  background-color: #00268A;
  margin-top: 7%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

.as1__botonera1{
  width: 100%;
  height: 15vw;
  background-color: #00268A;
  margin-top: 11%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

.as1__botonera2{
  width: 100%;
  height: 15vw;
  background-color: #00268A;
  margin-top: 7%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}


/* ----------ASIDE 2---------- */

#as2{
  width: 20%;
  height: 41vw;
  background-color: #B3003D;
  float: right;
}

.as2__calendari{
  width: 100%;
  height: 18vw;
  background-color: #00268A;
  margin-top: 7%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

.as2__recordatoris{
  width: 100%;
  height: 18vw;
  background-color: #00268A;
  margin-top: 7%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}


/* ----------Article---------- */

#art{
  width: 60%;
  height: 41vw;
  background-color: #F23F6B;
  float: left;
}

.art__apps{
  width: 100%;
  height: 41vw;
  background-color: #00ADFF;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

/* ----------Footer---------- */

#peu{
  width: 100%;
  height: 7vw;
  text-align: center;
  background-color: black;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}
