/* TOT */

* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: Arial;
  background: #F23F6B;
}


/** ----- COMPARTIR -----**/

.hdr{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vw;      
  background: linear-gradient(to bottom right, #00268A, #0083FF);
  font-weight: bold;
  font-size: 1vw;
  color: white;
  /* box-shadow: 2px 2px 35px #888888; */
}

.foot{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vw;
  background-color: #000000;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}


/** ----- PÀGINA INICI -----**/

/* ASIDE 1 */
  
.all{
  display: flex;
}

.as1PI{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 41vw;
  background-color: #B3003D;
}

.as1PI__cerca{
  width: 100%;
  height: 4vw;
  background-color: #00268A;
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

.as1PI__botonera1{
  width: 100%;
  height: 15vw;
  background-color: #00268A;
  margin-top: 11%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

.as1PI__botonera2{
  width: 100%;
  height: 15vw;
  background-color: #00268A;
  margin-top: 7%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

/* ASIDE 2 */

.as2PI{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 41vw;
  background-color: #B3003D;
}

.as2PI__calendari{
  width: 100%;
  height: 18vw;
  background-color: #00268A;
  margin-top: 7%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

.as2PI__recordatoris{
  width: 100%;
  height: 18vw;
  background-color: #00268A;
  margin-top: 7%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}


/* ARTICLE */

.artPI{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 41vw;
  background-color: #F23F6B;
}

.artPI__apps{
  width: 100%;
  height: 41vw;
  background-color: #00ADFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1vw;
  color: white;
}

/* QUERY */

@media screen and (max-width: 1690px){
  .all{
    display: block;

  }

  .as1PI{
    flex-direction: row;
    width: 100%;
    height: auto;
    height: 10vw;

  }

  .as1PI__cerca{
    margin-top: auto;
    width: 100%;
    position: absolute;
  }

  .as1PI__botonera1{
    margin-top: 4%;

  }

  .as1PI__botonera2{
    margin-top: 4%;

  }

  .artPI{
    display: block;
    flex-direction: column;
    width: 100%;
    margin-top: 9%;
    flex-wrap: wrap;
    height: 50vw;

  }

  .artPI__apps{
    height: 100%;
    
  }

  .as2PI{
    flex-direction: row;
    width: 100%;
    height: auto;
    height: 10vw;

  }

  .as2PI__calendari{
    margin-top: auto;

  }
  
  .as2PI__recordatoris{
    margin-top: auto;
    
  }

  .foot{
    flex-direction: row;
    position: fixed;
    bottom: 0; 
  }
  
}